# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.fw #Futurewave files

# Log Files
*.log

# Third Party Libraries
src/lib/midifile
src/lib/portmidi
src/lib/wildmidi

# Build Libraries
bin
log

# Vim Bullshit
.*.swp
*.swp
*~

# MIDI test files
*.m
